.box{
    height: 150px;
    width: 150px;
    background: url(https://images.unsplash.com/photo-1704642406927-d454ea541612?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwzfHx8ZW58MHx8fHx8)center no-repeat;
    background-size: cover;
}